.set{
    width : 300px;
    height : 120px;
    border : solid 1px;
    text-align: center;
    margin-top:10px;
    margin-left:520px;
    padding-top:5px;
}

#myGraph{
    float: left;
    margin-right: 20px;
}
#myfitting{
    float: left;
}
